@import "index.scss";
.linear-text{
    background: -webkit-linear-gradient(var(--default-color-1), var(--default-color-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

